name: Tidy
on:
  - push
  - pull_request

env:
  RUST_BACKTRACE: 1

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: "1.78"
          components: rustfmt, clippy
      - name: Run rustfmt
        run: 'cargo fmt --all --check'
      - name: Run clippy
        run: 'cargo clippy --all-targets -- -D warnings'
